  
h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 8rem;
	color: #464642;
	text-align: left;
	line-height:0.5;
}	
  
h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 4rem;
	color: #464642;
}

h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: #6dbcac;
	text-align: left;
}

h4 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: #464642;
	text-align: left;
	font-size: 3rem;
}

h5 {
	color: #464642;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
}

h6 {
	color: gray;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 22px;
	text-align: left;
	font-style: italic;
}

p {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #464642;
	font-size: 18px;
}

a {
    color: #6dbcac;
}

a:hover {
	color: #464642;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ade8d7;
}

hr {
	height: 1px;
	color: #d3d3d3;
	background-color: #d3d3d3;
	border: none;
	width: 100%;
}

img {
	margin: 10px 10px 10px 10px;
}

ul {
	padding-left: 18px;
}

.bullets > li {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	color: #464642;
	font-size: 18px;
}

.col-sm-4 > h4 {
	margin-top: 0;
}

.line-left {
	border-left: solid 8px #ade8d7;
	padding-left: 40px;
	margin-right: 0px;
	margin-bottom: 50px;
	margin-left: 0px;
}

.jumbotron {
	background-color: #ffffff;
	color: #464642;
	padding: 100px 25px;
	text-align: left;
}

.container-fluid {
    padding: 0px 10%;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    font-size: 15px !important;
    line-height: 1.5 !important;
	border: 0;
    border-radius: 0;
	color: #464642;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	letter-spacing: 1pt;
	position: sticky;
	box-shadow: 0 5px 6px -5px #aaaaaa;
}

.navbar-nav li a {
	color: gray !important;
    background-color: #ffffff !important;
}

.navbar-nav li a:hover {
	color: #464642 !important;
    background-color: #ffffff !important;
}

.navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #464642 !important;
}

.navbar-default .navbar-toggle {
    border: 2px solid transparent;
    color: #ade8d7 !important;
}

.navbar-toggle:hover {
	background-color: #464642 !important;
}

.navbar-toggle:focus {
	border-color:#ade8d7;
	background-color: #ffffff !important;
}

.navbar-collapse {
	padding: 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #464642;
}

.item {
	height: 100%;
	width: 100%;
	position: relative;
}

.item:hover .overlay {
	opacity: 0.8;
}

.text {
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

.img-responsive {
    margin: 0 0 0 0;
	max-width: 100%;
	height: auto;
}

/* .article-thumb {
	max-width: 100px;
} */

.alternate {
    background-color: #f6f6f6;
	padding: 10px;
}

.gallery > .col-sm-4, .gallery > .col-sm-6 {
	padding: 4%;
}

.col-sm-3 {
	padding: 10px;
}

.special {
	color: #6dbcac;
}

.space-bottom {
	margin-bottom: 2rem;
}

.space-top {
	margin-top: 10rem;
}

.big-space-bottom {
	margin-bottom: 5rem;
}

.infobox {
	padding-top: 0px;
}

.selected {
	color: #6dbcac;
}

.unselected {
	color: gray;
}

.minime {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.mini-line {
	border-bottom: solid 8px #ade8d7;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: auto; */
	/* position: relative; */
}

.equal-sm, .equal-md {
	display: flex;
  	display: -webkit-flex;
  	flex-wrap: wrap;
}

.content {
	max-width: 1500px;
}

.card {
	height: 100%;
	width: 100%;
	/* margin: 30px 0px; */
	padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 0 4px 6px -1px #aaaaaa;
	position: relative;
}

.card p {
	font-size: 14px;
	text-align: center;
}

.card h4 {
	font-size: 2.5rem;
	text-align: center;
}

.btn-contain {
	height: inherit;
	width: inherit;
	position: absolute;
	top: 0;
	left: 0;
 	display: flex;
	padding-bottom: 20px;
}

.btn {
	color: #6dbcac;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing: 1pt;
	padding: 10px 20px;
	width: 100%;
	border-width: 2px;
	border-color: #ade8d7;
	border-radius: 50px;
	margin: 0 30px;
	box-sizing: border-box;
	align-self: flex-end;
}

.btn:hover {
	border-color: #464642;
	background-color: #464642;
	color: white;
}

.btn-highlight {
	background-color: #ade8d7;
	color: #464642;
}

.back > .glyphicon-chevron-left {
	color: #ade8d7;
}

@media only screen and (max-width: 600px) {
	p, h5 {
		font-size: 14px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	.bullets > li {
		font-size: 14px;
	}

	.container-fluid {
		padding: 0px 20px;
	}
	.alternate {
		padding: 10px;
	}
} 

@media (max-width: 991px){
	.equal-md {
		display: block;
	}
	.btn {
		width: 160px;
	}
	.btn-contain {
		justify-content: flex-end;
	}
	.card {
		margin-top: 2rem;
	}
	.card p {
		font-size: 16px;
		text-align: left;
		margin-bottom: 1rem;
		margin-right: 200px;
	}
	.card h4 {
		text-align: left;
	}
}

@media (max-width: 767px){
	.minime {
		max-height: 100px;
	}

	.line-left {
		border-left: solid 0px #ade8d7;
		padding-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}

	.vertical-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.equal-sm {
		display: block;
	}

	.navbar ul {
		width: 100%;
		margin: 0;
		box-shadow: 0 5px 6px -6px grey;
	}

	.navbar li a{
		padding: 15px 25px;
		text-align: center;
	}

	h1, h2, h3, h5 {
		text-align: center;
	}

	.col-sm-4 > h4 {
		margin-top: 2rem;
	}

	.btn {
		max-width: 160px;
	}
	.btn-contain {
		justify-content: center;
	}

	.card p {
		font-size: 16px;
		text-align: center;
		margin-bottom: 5rem;
		margin-right: 0;
	}
	.card h4 {
		text-align: center;
	}

	.gallery > .col-sm-4 {
		margin: 5% 20%;
	}

	.gallery > .col-sm-6 {
		margin: 5%;
	}

	.back > .glyphicon-chevron-left {
		padding-top: 20px;
		padding-left: 7%;
	}
}