  
h1 {
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 100px;
	color: #464642;
	text-align: left;
	line-height:0.5;
}	
  
h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80px;
	color: #464642;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	color: #6dbcac;
	text-align: left;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	color: #ade8d7;
	text-align: left;
	font-size: 40px;
}

h5 {
	color: #464642;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: left;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #464642;
	font-size: 18px;
}

a {
    color: #6dbcac;
}

a:hover {
	color: #464642;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ade8d7;
}

hr {
	height: 1px;
	color: #d3d3d3;
	background-color: #d3d3d3;
	border: none;
	width: 100%;
}

img {
	margin: 10px 10px 10px 10px;
}



.line-left {
	border-left-style: solid;
	border-left-color: #ade8d7;
	padding-left: 40px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 100px;
	margin-left: 0px;
}

.jumbotron {
	background-color: #ffffff;
	color: #464642;
	padding: 100px 25px;
	text-align: left;
}

.container-fluid {
    padding: 0px 10%;
}

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.5 !important;
    border-radius: 0;
	color: #464642;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2pt;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #464642 !important;
	border-left-style: solid;
	border-left-color: #ade8d7;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #ade8d7 !important;
} 

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #464642;
}

.item:hover .overlay {
	opacity: 0.8;
}

.text {
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.img-responsive {
    margin: 0 0 0 0;
	max-width: 100%;
	height: auto;
}

.alternate {
    background-color: #f6f6f6;
	padding: 10px;
  }

.col-sm-4 {
	padding: 40px;
}
.col-sm-3 {
	padding: 10px;
}

.special {
	color: #6dbcac;
}

@media only screen and (max-width: 600px) {
	p, h5 {
		font-size: 14px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}
	.container-fluid {
		padding: 0px 20px;
	}
	.alternate {
		padding: 10px;
	}
} 